Repository juancamilolindo/MemoryBook: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Usa una versi√≥n reciente de ruff
    rev: v0.5.0
    hooks:
      # Ejecuta el linter y auto-corrige lo que pueda
      - id: ruff
        args: [--fix]
        files: ^backend/
      # Ejecuta el formateador
      - id: ruff-format
        files: ^backend/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: node
        types: [text]
        files: ^frontend/
        exclude: \.prettierignore$

      - id: eslint
        name: eslint
        entry: npx eslint --fix --config frontend/eslint.config.js
        language: node
        types: [javascript]
        files: ^frontend/
        exclude: \.prettierignore$

Fix Build
  frontend/src/App.jsx
Due: prettier

Agregar reglas para css
  frontend/eslint.config.js
Due: prettier, eslint

Agregar Json validaciones
  frontend/eslint.config.js
Due: prettier, eslint

Incluir css y json en el precommit
  .pre-commit-config.yaml
Due: none

Corregir eslint
  frontend/eslint.config.js
Due: prettier, eslint

Fix Eslint
  frontend/eslint.config.js
Due: prettier, eslint

Completar el Readme de frontend
  frontend/README.md
Due: prettier

Se agrega comando
  backend/README.md
Due: none

Corregir Unit Tests y Estructura del Frontend
  .pre-commit-config.yaml
  backend/app/core/config.py
  backend/app/test/test_main.py
  frontend/.prettierignore
  frontend/src/api/authApi.js
  frontend/src/api/usuariosService.js
  frontend/src/main.jsx
  frontend/src/pages/App.css
  frontend/src/pages/App.jsx
  frontend/src/styles/index.css
Due: prettier, eslint

Excluir env.development
  .gitignore
Due: none

Refactor authapi y usuariosService.js
  frontend/src/api/authApi.js
  frontend/src/api/usuariosService.js
Due: prettier, eslint

Primer versión del modelo
  backend/alembic/env.py
  backend/app/db/base.py
  backend/app/db/session.py
  backend/app/models/__init__.py
  backend/app/models/foto.py
  backend/app/models/pagina.py
  backend/app/models/plantilla.py
  backend/app/models/proyecto.py
  backend/app/models/suscripcion.py
  backend/app/models/usuario.py
  frontend/src/api/usuariosService.js
Due: prettier, eslint

Fix Build
  frontend/src/pages/App.jsx
Due: prettier

fix(alembic): Configurar Alembic para autogeneración de migraciones
  backend/alembic/env.py
  backend/alembic/versions/bbdb4c480ed9_initial_migration.py
  backend/app/models/proyecto.py
  backend/requirements.txt
Due: none

feat: Primer versión del api de proyectos
  backend/app/.DS_Store
  backend/app/api/api.py
  backend/app/api/dependencies.py
  backend/app/api/endpoints/proyectos.py
  backend/app/core/config.py
  backend/app/crud/__init__.py
  backend/app/crud/proyecto.py
  backend/app/crud/usuario.py
  backend/app/db/session.py
  backend/app/main.py
  backend/app/schemas/__init__.py
  backend/app/schemas/elemento_pagina.py
  backend/app/schemas/pagina.py
  backend/app/schemas/proyecto.py
  backend/app/schemas/usuario.py
  backend/requirements.txt
  pyproject.toml
Due: none

fix: Primera version para crear un usuario de prueba
  backend/app/.DS_Store
  backend/app/api/dependencies.py
  backend/app/api/endpoints/proyectos.py
  backend/app/core/config.py
  backend/app/db/session.py
  backend/app/models/usuario.py
  backend/app/services/.DS_Store
  backend/app/services/__init__.py
  backend/app/services/proyecto.py
  backend/app/services/usuario.py
  backend/scripts/test_data/create_test_users.py
Due: none

feat: create_test_users
  backend/app/models/plantilla.py
  backend/scripts/test_data/create_test_users.py
  backend/scripts/utils/__init__.py
  backend/scripts/utils/get_db_session.py
Due: none

fix: Usuarios agregados
  backend/scripts/test_data/create_test_users.py
Due: none

fix: references
  backend/app/api/api.py
  backend/app/api/endpoints/proyectos.py
  backend/app/main.py
Due: none

feat: Agregados proyectos de prueba
  backend/app/api/endpoints/proyectos.py
  backend/app/core/config.py
  backend/scripts/test_data/create_test_projects.py
Due: none

fix: Build
  backend/app/main.py
Due: none

fix: Build
  backend/scripts/test_data/create_test_projects.py
Due: none

fix: Agregar párametros para depurar
  backend/app/db/session.py
Due: none

fix: Agregar para depurar
  backend/app/db/session.py
Due: none

fix: check te version
  backend/app/main.py
Due: none

fix: Unit tests
  backend/app/test/test_main.py
Due: none

fix: Connection String
  backend/app/db/session.py
Due: none

fix: connection string
  backend/app/db/session.py
Due: none

feat: Primera version de consultar un proyecto
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/proyectosService.js
  frontend/src/components/common/Layout.jsx
  frontend/src/components/common/MainAppBar.jsx
  frontend/src/components/proyectos/PageRenderer.jsx
  frontend/src/components/proyectos/PaginaRenderer.jsx
  frontend/src/firebase/config.js
  frontend/src/main.jsx
  frontend/src/pages/App.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/ProyectosPage.jsx
  frontend/src/styles/index.css
  frontend/src/theme.js
Due: prettier, eslint
